.banner {
  width: 100%;
  text-align: center;
  padding: 10px;

  h1 {
    color: #5b6f0c;
    margin-bottom: 10px;
  }

  a {
    color: #93ad18;
  }

  h2 {
    color: #5b6f0c;
    margin-top: 20px;
  }
}
