.picker {
  display: block;
  width: 100%;
  background: #fff;
  border: 1px solid #5b6f0c;
  border-radius: 5px;
  padding: 5px 10px;

  &:hover {
    cursor: pointer;
  }

  &-wrapper {
    margin-bottom: 20px;
    color: #5b6f0c;
    position: relative;
  }

  &-label {
    display: block;
    margin-bottom: 10px;
  }

  &-elt {
    border: 1px solid #5b6f0c;
    border-radius: 5px;
    border-top: none;
    padding: 5px;
    position: absolute;
    z-index: 10;
    background: #fff;
    display: none;

    &.active {
      display: block;
    }

    &-header {
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-sub {
        display: flex;
        align-items: center;
      }

      &-btn {
        border: none;
        background: none;
        padding: 5px 10px;
        margin: 0 5px;

        &:hover {
          cursor: pointer;
        }
      }

      &-select {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }

        &-label {
          padding: 0 10px 0 0;
          margin: 0 5px;

          & > img {
            width: 10px;
            height: auto;
          }
        }

        &-options {
          display: none;
          position: absolute;
          background: #fff;
          border: 1px solid #5b6f0c;

          &.active {
            display: block;
          }
        }

        &-option {
          padding: 5px 10px;
          color: #5b6f0c;

          &:hover {
            background: #5b6f0c;
            color: #fff;
          }
        }
      }
    }

    &-table {
      border-collapse: collapse;
      border: 1px solid #5b6f0c;

      &-header-cell {
        width: 50px;
        height: 50px;
        border: 1px solid #5b6f0c;
      }

      &-cell {
        width: 50px;
        height: 50px;
        border: 1px solid #5b6f0c;
      }
    }
  }
}
